.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width:600px;
    border-radius: 60px;
    background:#bae3e9;
    padding-bottom: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(5, 45, 114);
    font-size: 28px;
    font-weight: 700;
}
.underline{
    width:39px;
    height: 6px;
    background:rgb(5, 45, 114);
    border-radius: 9px;
}

.inputs{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.input{
    display: flex;
    align-items: center;
    margin:auto;
    padding-left: 25px;
    width:390px;
    height: 60px;
    background: rgb(240, 252, 255);
    border-radius: 6px;
}
.input input{
    height:50px;
    width:350px;
    background: transparent;
    border:none;
    outline:none;
    font-size: 15px;
    color:rgb(28, 26, 27);
}
.forgot-pass{
    padding-left: 92px;
    margin-top: 20px;
    color: rgb(5, 45, 114);
    font-size: 13px;
}
.spans{
    color:rgb(216, 19, 19);
    cursor: pointer;
}
.submit-con{
    display: flex;
    gap:15px;
    margin: 40px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:120px;
    height:59px;
    color:aliceblue;
    background: #00234b;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background-color: aliceblue;
    color:#00314b;
}